APP_DEBUG=true
APP_URL=http://127.0.0.1:8080
AUTO_ROUTING=false

# sqlite (پیش‌فرض، بدون نیاز به نصب دیتابیس - برای اجرای سریع پروژه)
DB_CONNECTION=sqlite
DB_DATABASE=storage/database.sqlite

# برای mysql مقادیر زیر رو هم پر کن و DB_CONNECTION=mysql بذار
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_NAME=irphp_db
# DB_USER=root
# DB_PASSWORD=

LOG_FILE=app.log

# توکن مورد استفاده در میدلور Auth (برای مسیرهایی که نیاز به احراز هویت دارن)
AUTH_TOKEN=

# در صورت استفاده از ماژول تلگرام (اختیاری)
# BOT_TOKEN=
# BOT_URL=api.telegram.org
# REQUIRED_CHANNEL=@YourChannel